body{
    background-color: lightcyan;
    width: 90%;
    margin-left: 5%;
    text-align: center;
    font-size: large;
    margin-top: 25%;
}
div{
    border: 0.2rem solid wheat;
    background-color: wheat;
    border-radius: 1rem;
    font-size: 2rem;
}
span{
    color: maroon;
    font-weight: 700;
}