body {
  transition: backgorund-color 0.5s, color 0.5s;
  text-align: center;
  margin-top: 15%;
  font-size: x-large;
}
body.light-mode {
  color: black;
  background-color: white;
}

body.dark-mode {
  color: white;
  background-color: black;
}

button {
  font-size: large;
  padding: 0.5rem;
}
