body{
    background-color: lightcyan;
    width: 90%;
    margin-left: 5%;
    text-align: center;
    font-size: large;
    margin-top: 25%;
}
.dark-mode {
    background-color: black;
    color: white;
  }