
body {
  background-color: lightcyan;
  text-align: center;
}

img {
  width: 30rem;
  height: 35rem;
}

section {
  display: inline;
}

button{
    font-size: x-large;
    font-weight: 700;
    color: red;
    
}
#slidesContainer{
  border-radius: 2rem;
  padding: 2rem;
  width: 40%;
  margin-left: 28%;
  background-color: antiquewhite;
}
